<div *ngIf="{ list: filteredActivities$ | async, types: activityTypes$ | async } as vm">
  
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 w-full">
      <app-card 
        *ngFor="let activity of vm.list" 
        [activity]="activity"
        [activityTypes]="vm.types || []"> </app-card>
    </section>
  
    <div *ngIf="vm.list?.length === 0" class="text-center py-8">
      <p class="text-gray-600">{{ 'activities.noActivities' | translate }}</p>
    </div>
  
  </div>